*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;

    background: url(../images/nortonbannerfiltro.jpg); 
    background-position:center ;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 1% 4%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 150px;
    
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li{
list-style: none;
display: inline-block;
padding: 8px 12px;
position: relative;

}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;  
}
.nav-links ul li::after{
    content: '';
    width:0%;
    height: 2px;
    background: #3e1734;
    display:  block;
    margin: auto;
    transition: 1s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 500%;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 30px;
    color: #fff;

}
.linknos{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.linknos:hover {
    border: 1px solid #3e1734;
    background:#3e1734;
    transition: 1s;
}


nav .fa{ 
    display:none  
}


@media(max-width: 700px){
.text-box h1{
    
    font-size: 20px;  } 
    .text-box p{
        font-size: 13px;
    }
    .nav-links ul li{
        display:block ;
    }
    .nav-links{ 
        position: absolute;
        background: #3e1734;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;

    }
    nav .fa{
        display:block ;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
} 
.nav-links ul {
padding: 10px;
}